name: Push to GitHub Pages on push to master
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout gh-page
        uses: actions/checkout@v1

      - name: Deploy the site
        uses: benmatselby/hugo-deploy-gh-pages@master
        env:
          HUGO_VERSION: 0.80.1
          TARGET_REPO: Daveads/golang-demystification
          TARGET_BRANCH: gh-page
          TOKEN: ${{ secrets.godemystification }}
          HUGO_ARGS: '-t academic'
          CNAME: benmatselby.github.io
