name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout master
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Hugo Deploy GitHub Pages
      uses: benmatselby/hugo-deploy-gh-pages@master
      env:
        HUGO_VERSION: 0.80.0
        TARGET_REPO: Daveads/golang-demystification
        TOKEN: ${{ secrets.TOKEN }}
        CNAME: https://daveads.github.io/golang-demystification/

